{% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter fa-2x"></i> Twitter
    </a>&nbsp
{% endif %}
{% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <i class="fa fa-linkedin fa-2x"></i> LinkedIn
    </a>&nbsp
{% endif %}
{% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github fa-2x"></i> GitHub
    </a>&nbsp
{% endif %}
    <a href="{{site.url}}/feed.xml">
      <i class="fa fa-rss fa-2x"></i> RSS
    </a>
<div>

<br>
<p>Credit to <a href="https://github.com/aigarsdz/brume">brume</a> for the site theme. </p>
