{% if layout.comments %}
<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//josephkirwin-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<br/>
{% endif %}
{% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> Twitter
    </a>&nbsp
{% endif %}
    <a href="http://www.google.com/recaptcha/mailhide/d?k=01mpy6VG6AhyPDy7g1cemgww==&amp;c=wfHE8PkEXUlsGSS6OdqNwVFJ3RNAUKolCIF7tNHbmKc=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01mpy6VG6AhyPDy7g1cemgww\x3d\x3d\x26c\x3dwfHE8PkEXUlsGSS6OdqNwVFJ3RNAUKolCIF7tNHbmKc\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">
    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> Email
    </a>&nbsp
{% if site.keybase_username %}
    <a href="https://keybase.io/{{ site.keybase_username }}">
        <i class="fa fa-key fa-2x" aria-hidden="true"></i> Keybase
    </a>&nbsp
{% endif %}
{% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> LinkedIn
    </a>&nbsp
{% endif %}
{% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i> GitHub
    </a>&nbsp
{% endif %}
    <a href="{{site.url}}/feed.xml">
            <i class="fa fa-rss fa-2x" aria-hidden="true"></i> RSS
    </a>
<div>
<br/>

{% if page.credit %}
<br/>
<p>Credit to <a href="https://github.com/aigarsdz/brume">brume</a> for the site theme. </p>
{% endif %}
