<!-- meta information -->
<meta charset="utf-8">
<meta name="description" {% if page.title == "Home" %}
      content="{{ site.data.brume.description }}" {% else %}
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}>
<meta name="author" content="{{ site.data.brume.author }}">

<!-- google indexing -->
<link rel="canonical" href="{{site.url}}{{ page.url }}" />

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>{{ page.title }} &middot; {{ site.data.brume.name }}</title>

<!-- stylesheets -->
<link rel="stylesheet" href="{{site.baseurl}}/public/css/responsive.gs.12col.css">
<link rel="stylesheet" href="{{site.baseurl}}/public/css/main.css">

<!-- Google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext">
<meta name="google-site-verification" content="i13iWRV96LVYYAkNh_bPf_lgo3EkTjevLB34aWfQ4RU" />

<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/public/images/favicon.ico">

<!-- feed links -->
<link rel="alternate" href="{{ site.url }}{{ site.baseurl }}/feed.xml" type="application/rss+xml" title="{{ site.data.brume.name }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@josephkirwin" />
<meta name="twitter:creator" content="@josephkirwin" />

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% endif %}

{% if page.largeimage %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.largeimage }}">
  <!-- Linkedin/Facebook use OpenGraph -->
  <meta property="og:image" content="{{ site.url }}{{ page.largeimage }}">
  <meta property="og:image:secure_url" content="{{ site.url }}{{ page.largeimage }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.title_image }}">
  <meta property="og:image" content="{{ site.title_image }}">
  <meta property="og:image:secure_url" content="{{ site.title_image }}">
{% endif %}

